.benefits {

    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
    padding-top: 10em;
}

.benefits__app, .benefits__client {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.benefits__separator {
    background-color: black;
    width: 1px;
    height: 150px;
}

.benefits__item {
    display: flex;
    gap: 1em;
}

.benefits-item__icon {
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}

.benefits-item__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-item__main-text {
    font-weight: 700;
}

.benefits-item__text {
    font-weight: 300;
}

@media (min-width: 350px) {
}
@media (min-width: 576px) { // Smartphones
}
@media (min-width: 767px) { // Tablets
}
@media (min-width: 992px) { // Laptops
}
@media (min-width: 1200px) { // Desktops
}
@media (min-width: 1400px) { // Monitors
}