.hero {
    position: relative;
    padding-block: 2em;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8em;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hero-content__main-title {
    font-size: 3.2em;
    font-weight: 800;
    line-height: 1.3em;
}

.hero-content__text {
    font-size: 1.5em;
    line-height: 1.6em;
}

.hero-content__buttons {
    display: flex;
    gap: 1.6em;
}

.primary__button, .secondary__button {
    padding: 0.8em 2em;
    border: solid 0.15em #000000;
    border-radius: 0.7em;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 1.1em;
}

.primary__button {
    background-color: #000000;
    color: #ffffff;
    &:hover{
        background-color: white;
        color: black;
    }
}

.secondary__button {
    background-color: #ffffff;
    color: #000000;
    &:hover{
        background-color: black;
        color: white;
    }
}

.hero__illustration {
    width: 35em;
}

.hero__transition {
    width: 100%;
}